.section-head {
  width: 100%;
  margin-bottom: 54px;
  &__title {
    font-size: 36px;
    color: $secondary;
    font-weight: 600;
    margin-top: 26px;
  }
  &__desc {
    font-size: 14px;
    color: #959595;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
}
.aboutus {
  padding-top: 100px;
  padding-bottom: 100px;
  .child {
    &:nth-child(2),
    &:nth-child(4) {
      .about-card {
        border-radius: 35px 0 35px 0;
      }
    }
  }
  .about-card {
    background: linear-gradient(180deg, #ff9207, #ffbc2f);
    padding: 27px 32px;
    margin-bottom: 45px;
    color: $white;
    border-radius: 0 35px 0 35px;
    &__title {
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 21px;
      font-weight: 600;
    }
    &__desc {
      font-size: 16px;
      line-height: 30px;
    }
  }
}
