.bread-crumb
    .container.h-100.d-flex.align-items-center 
        .bread-crumb__text
            .bread-crumb__title Blog Post 
            .bread-crumb__desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

