.bread-crumb(style=`background:url(${bg})`)
    .container.h-100.d-flex.align-items-center 
        .bread-crumb__text.mt-5
            .bread-crumb__title.wow.slideInLeft #{pageName}
            .bread-crumb__desc.wow.slideInLeft(data-wow-delay="0.1s") "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

