footer.footer.section#footer
    .container 
        .row 
            .col-12.col-md-6.col-xl-6.wow.fadeInUp
                .info 
                    .info__logo 
                        img(src="images/logo-white.png")
                    h3.info__title About Mohamed Raslan
                    p.info__desc  TQM PMP Trainer, Speaker, Technical Editor, and Translator/Senior Project Engineer/Lecturer at Egyptian Engineers  
            .col-12.col-md-6.col-xl-3.mt-5.mt-lg-0.wow.fadeInUp(data-wow-delay="0.2s")
                h3.mb-4.footer__title links
                .info__links 
                    ul.col.info__list.p-0
                        li.list__item
                            a(href="#") About Us
                        li.list__item
                            a(href="#") Courses
                        li.list__item
                            a(href="#") Fawazir
                        li.list__item
                            a(href="#") blog 
            .col-12.col-md-6.col-xl-3.mt-5.mt-lg-0.wow.fadeInUp(data-wow-delay="0.2s")
                h3.mb-4.footer__title Connect With Us
                .connect.mt-4
                    p.connect__item.font-14
                        i.fa.fa-whatsapp 
                        span.ml-2 +20 1128 8619 77
                    p.connect__item.font-14
                        i.fa.fa-envelope 
                        span.ml-2 support@yallapmp.com
                .social.d-flex.justify-content-between.mt-4
                    .icon 
                        i.fa.fa-facebook
                    .icon 
                        i.fa.fa-twitter
                    .icon 
                        i.fa.fa-instagram
                    .icon 
                        i.fa.fa-linkedin
        .row.d-flex.justify-content-between.align-items-center.copyright
            p.copyright__text Copyright © 2021 All rights reserved | This site is made with  by Code Plus. 
            a(href="#").copyright__text Privacy & Policy 
