html,
body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  background: $white;
  line-height: 1;
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200;
  }
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba($secondary, 0.5), rgba($secondary, 0.7));
  z-index: 1;
}

.whats-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 22;
  .btn-whats {
    background: #47c756 !important;
    color: #fff !important;
    border: 1px solid #47c756 !important;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    i {
      padding-right: 10px;
      font-size: 24px;
    }
  }
}
