section.aboutus.section.fp-auto-height-responsive
    .container
        .section-head.text-center
            h2.section-head__title What We Offer
            p.section-head__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt labore dolore magna aliqua
        .row.m-0 
            .col-12.col-md-6.child
                .about-card
                    .about-card__icon 
                        img(src="images/teach.png")
                    h3.about-card__title Mohamed Raslan
                    p.about-card__desc Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim adipiscing veniam.
            .col-12.col-md-6.child
                .about-card
                    .about-card__icon 
                        img(src="images/school.png")
                    h3.about-card__title Mohamed Raslan
                    p.about-card__desc Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim adipiscing veniam.
            .col-12.col-md-6.child
                .about-card
                    .about-card__icon 
                        img(src="images/apple.png")
                    h3.about-card__title Mohamed Raslan
                    p.about-card__desc Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim adipiscing veniam.
            .col-12.col-md-6.child
                .about-card
                    .about-card__icon 
                        img(src="images/certificate.png")
                    h3.about-card__title Mohamed Raslan
                    p.about-card__desc Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim adipiscing veniam.