.blog-first.section 
    .container 
        .blog-card.d-flex.flex-column.flex-md-row 
            .blog-card__upper 
                .blog-card__img 
                    img(src="images/laptop.png").img-fluid
                .blog-card__head 
                    .user 
                        .user__img 
                            img(src="images/chairman.png")
                        .user__text 
                            .user__name Ahmed Kamal
                            .user__date 8 March 2021
                    .icons 
                        a.icons__item 
                            img(src="images/star.png") 
                        a.icons__item 
                            img(src="images/share.png") 
            .blog-card__lower 
                h3.blog-card__title Youth’s Role In Social And Cultural Transformation
                h4.blog-card__subtitle Generational Cohorts Drive Changes In The Cultural Landscape
                p.blog-card__desc "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter 

.blog-second 
    .container 
        .owl-carousel#owl-slider4 
            .item
                .blog-card.blog-card--horizontal 
                    .blog-card__upper 
                        .blog-card__img 
                            img(src="images/laptop.png").img-fluid
                        .blog-card__head 
                            .user 
                                .user__img 
                                    img(src="images/chairman.png")
                                .user__text 
                                    .user__name Ahmed Kamal
                                    .user__date 8 March 2021
                            .icons 
                                a.icons__item 
                                    img(src="images/star.png") 
                                a.icons__item 
                                    img(src="images/share.png") 
                    .blog-card__lower 
                        h3.blog-card__title Youth’s Role In Social And Cultural Transformation
                        h4.blog-card__subtitle Generational Cohorts Drive Changes In The Cultural Landscape
                        p.blog-card__desc "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter 
            .item 
                .blog-card.blog-card--horizontal 
                    .blog-card__upper 
                        .blog-card__img 
                            img(src="images/laptop.png").img-fluid
                        .blog-card__head 
                            .user 
                                .user__img 
                                    img(src="images/chairman.png")
                                .user__text 
                                    .user__name Ahmed Kamal
                                    .user__date 8 March 2021
                            .icons 
                                a.icons__item 
                                    img(src="images/star.png") 
                                a.icons__item 
                                    img(src="images/share.png") 
                    .blog-card__lower 
                        h3.blog-card__title Youth’s Role In Social And Cultural Transformation
                        h4.blog-card__subtitle Generational Cohorts Drive Changes In The Cultural Landscape
                        p.blog-card__desc "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter 


.blog-third 
    .container 
        .blog-card.blog-card--horizontal.blog-card--big 
            .blog-card__upper 
                .blog-card__img 
                    img(src="images/laptop.png").img-fluid
                .blog-card__head 
                    .user 
                        .user__img 
                            img(src="images/chairman.png")
                        .user__text 
                            .user__name Ahmed Kamal
                            .user__date 8 March 2021
                    .icons 
                        a.icons__item 
                            img(src="images/star.png") 
                        a.icons__item 
                            img(src="images/share.png") 
            .blog-card__lower 
                h3.blog-card__title Youth’s Role In Social And Cultural Transformation
                h4.blog-card__subtitle Generational Cohorts Drive Changes In The Cultural Landscape
                p.blog-card__desc "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter 
                p.blog-card__desc.mt-4 Mary, which was No. 1 among newborn girls in 1960, is now 124. Deborah, which was No. 2 in 1960, is now 907th. Barbara, then 12th, is now 899th. Today, Catherine is the 267th most popular name; Ellen, the 804th. Neither Lisa nor Susan is among the top 1,000 most popular girls’ names.
                p.blog-card__desc.mt-4 "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter 
                p.blog-card__desc.mt-4 "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter 
            