section.clients.section.bg-light.fp-auto-height-responsive#feedback
    .container
        .row 
            .col-12.col-md-6
                .clients__text 
                    .clients__title Feed Back
                    .clients__desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  incididunt labore dolore magna aliqua. 
                .clients__carousel 
                    #owl-slider3.owl-carousel
                        .item 
                            .clients__stars 
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star 
                            .clients__feedback Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                            .d-flex.align-items-center.user 
                                .user__avatar 
                                    img(src="images/chairman.png")
                                .d-flex.flex-column 
                                    h4 Ahmed Kamal 
                                    p UI/UX designer
                        .item 
                            .clients__stars 
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star 
                            .clients__feedback Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                            .d-flex.align-items-center.user 
                                .user__avatar 
                                    img(src="images/chairman.png")
                                .d-flex.flex-column 
                                    h4 Ahmed Kamal 
                                    p UI/UX designer
                        .item 
                            .clients__stars 
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star 
                            .clients__feedback Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                            .d-flex.align-items-center.user 
                                .user__avatar 
                                    img(src="images/chairman.png")
                                .d-flex.flex-column 
                                    h4 Ahmed Kamal 
                                    p UI/UX designer
            .col-12.col-md-6
                img(src="images/map.png").img-fluid
