.suggest-courses.py-3 
    .container
        .row.mt-5 
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--green Best Seller
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="0.2s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--red Hot & new
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="0.4s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--green Best Seller
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="0.4s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--green Best Seller
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="0.6s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--red Hot & new
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="0.8s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--green Best Seller
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="1s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--green Best Seller
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="1.2s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--red Hot & new
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart
            .col-12.col-md-6.col-lg-4 
                .course-card.wow.fadeInLeft(data-wow-delay="1.4s")
                    .course-card__img 
                        img(src="images/course.png")
                        span.label.label--green Best Seller
                    .course-card__body 
                        .d-flex.justify-content-between.align-items-center.mb-2 
                            h3.course-card__title Economie
                            span.course-card__views View +731
                        p.text-12.course-card__subtitle The course includes
                        p.course-card__desc "Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et doloresit amet aliqua.
                        .d-flex.justify-content-between.align-items-center 
                            .price 
                                p.price__label price
                                p.price__number €180.00
                            .course-card__button 
                                .btn.btn-primary Add To Cart