section.fawazir.section.fp-auto-height-responsive
    .container
        .section-head.text-center
            h2.section-head__title Yallapmp Fawazi
            p.section-head__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt labore dolore magna aliqua
        .grid-layout 
            .grid-item.item1
                .video-card.video-card--full-width
                    img(src="images/fawazir1.png").video-card__image 
                    a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").popup-youtube.video-card__icon 
                        i.fa.fa-play
            .grid-item.item2
                .video-card.video-card--full-width
                    img(src="images/fawazir2.png").video-card__image 
                    a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").popup-youtube.video-card__icon 
                        i.fa.fa-play
            .grid-item.item3
                .video-card.video-card--full-width 
                    img(src="images/fawazir3.png").video-card__image 
                    a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").popup-youtube.video-card__icon 
                        i.fa.fa-play
            .grid-item.item4
                .video-card.video-card--full-width 
                    img(src="images/fawazir4.png").video-card__image 
                    a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").popup-youtube.video-card__icon 
                        i.fa.fa-play
                    
