.filters.bg-grey
    .container 
        .form-row.d-flex.flex-nowrap.search-form
            .form-group.has-search.w-100.d-flex.align-items-center.pr-4
                span.fa.fa-search.form-control-feedback
                input.form-control(type='text' placeholder='Search for a product ...')
            .form-group
                button.btn.btn-primary.h-44.btn-sm.btn-block.text-center Search
        .form-row.d-flex.flex-nowra.row
            .dropdown.position-relative.col-12.col-md-4.mb-3.mb-md-0
                button#dropdownMenuButton.form-control.dropdown-toggle.text-left(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Categories
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='#') category 1
                    a.dropdown-item(href='#') category 2
                    a.dropdown-item(href='#') category 3
            .dropdown.position-relative.col-12.col-md-4.mb-3.mb-md-0
                button#dropdownMenuButton.form-control.dropdown-toggle.text-left(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Rate
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='#') category 1
                    a.dropdown-item(href='#') category 2
                    a.dropdown-item(href='#') category 3
            .dropdown.position-relative.col-12.col-md-4
                button#dropdownMenuButton.form-control.dropdown-toggle.text-left(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                    | Price
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='#') category 1
                    a.dropdown-item(href='#') category 2
                    a.dropdown-item(href='#') category 3


