section#home
  #owl-slider.owl-carousel.hero
      .item 
        img(src="images/banner.png").hero__img
        .container.h-100 
          .hero__content.d-flex.justify-content-between.align-items-center.h-100 
            .hero__text
              h1.hero__head.wow.slideInLeft PMP FROM ZERO TO HERO
              p.hero__desc.wow.slideInLeft(data-wow-delay="0.3s") "Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              .hero__button
              button.btn.btn-primary.wow.slideInLeft(data-wow-delay="0.6s") Start Exam
      .item
        img(src="images/banner.png").hero__img
        .container.h-100  
          .hero__content.d-flex.justify-content-between.align-items-center.h-100 
            .hero__text
              h1.hero__head.wow.slideInLeft PMP FROM ZERO TO HERO
              p.hero__desc.wow.slideInLeft(data-wow-delay="0.3s") "Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              .hero__button
              button.btn.btn-primary.wow.slideInLeft(data-wow-delay="0.6s") Start Exam
