section.fawazir.section.fp-auto-height-responsive
    .container
        .section-head.text-center
            h2.section-head__title Success board
            p.section-head__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt labore dolore magna aliqua
        .grid-layout.popup-gallery 
            .grid-item.item1
                a(href="images/fawazir1.png").video-card.video-card--full-width
                    img(src="images/fawazir1.png").video-card__image        
            .grid-item.item2
                a(href="images/fawazir2.png").video-card.video-card--full-width
                    img(src="images/fawazir2.png").video-card__image     
            .grid-item.item3
                a(href="images/fawazir3.png").video-card.video-card--full-width 
                    img(src="images/fawazir3.png").video-card__image 
            .grid-item.item4
                a(href="images/fawazir4.png").video-card.video-card--full-width 
                    img(src="images/fawazir4.png").video-card__image 