.section.welcome 
    .container 
        .welcome-text
            .row 
                .col-12.col-md-6
                    .welcome-text__welcome Welcome 
                    .welcome-text__title Sign In To Your Account
                    .welcome-text__desc Don't Have An Account? Click Button Below
                    .welcome-text__button 
                        .btn.btn-primary 
                            span Login with Google 
                            i.fa.fa-google.ml-3
                    .welcome-text__connect.mt-5
                        .welcome-text__title Connect With Us
                        .d-flex.flex-column.flex-md-row.align-items-start.align-items-md-center
                            .connect
                                .connect__title Whatsapp
                                .connect__desc +20 1128 8619 77 
                            .connect.ml-0.ml-md-3
                                .connect__title Email
                                .connect__desc Support@Yallapmp.Com
                .col-12.col-md-6
                    .welcome-img.d-flex.justify-content-center 
                        img(src="images/welcome.png").img-fluid