.section.welcome 
    .container 
        .welcome-text
            .row 
                .col-12.col-md-6
                    .welcome-text__welcome.wow.fadeInUp Welcome 
                    .welcome-text__title.wow.fadeInUp(data-wow-delay="0.1s") Sign In To Your Account
                    .welcome-text__desc.wow.fadeInUp(data-wow-delay="0.2s") Don't Have An Account? Click Button Below
                    .welcome-text__button.wow.fadeInUp(data-wow-delay="0.3s") 
                        .btn.btn-primary 
                            span Login with Google 
                            i.fa.fa-google.ml-3
                    .welcome-text__connect.mt-5
                        .welcome-text__title.wow.fadeInUp(data-wow-delay="0.4s") Connect With Us
                        .d-flex.flex-column.flex-md-row.align-items-start.align-items-md-center
                            .connect.wow.fadeInUp(data-wow-delay="0.5s")
                                .connect__title Whatsapp
                                .connect__desc +20 1128 8619 77 
                            .connect.ml-0.ml-md-3.wow.fadeInUp(data-wow-delay="0.6s")
                                .connect__title Email
                                .connect__desc Support@Yallapmp.Com
                .col-12.col-md-6
                    .welcome-img.d-flex.justify-content-center.wow.slideInRight 
                        img(src="images/welcome.png").img-fluid