extends ../layouts/default-layout.pug
block content
  - var pageName = 'blogs'
    include ../partials/header.pug
  - var bg = 'images/breadcrumb.png'
  - var pageName = 'Blog post'
    include ../partials/_breadcrumb.pug
    include ../sections/_blogs.pug