extends ../layouts/default-layout.pug
block content
  - var pageName = 'index'
  #fullpage
    include ../partials/_breadcrumb.pug
    include ../sections/_blogs.pug
    include ../partials/footer.pug