extends ../layouts/default-layout.pug
block content
  - var pageName = 'index'
    include ../partials/header.pug
    include ../sections/_hero.pug
    include ../sections/_aboutus.pug
    include ../sections/_fawazir.pug
    include ../sections/_courses.pug
    include ../sections/_suggest-courses.pug
    include ../sections/_clients.pug
    include ../sections/_success-board.pug

    